.parent {
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 50%;
  display: grid;
  grid-template-columns: 15% 35% 35% 15%;
  grid-template-rows: 25% 65% 10%;
  grid-template-areas:
  ". a b ."
  ". c c ."
  ". . . .";
}

.item1 {
  grid-area: a;
  align-self: end;
}

.item2 {
  grid-area: b;
  align-self: end;
  justify-self: end;
}

.item3 {
  grid-area: c;
}

.item3 button {
  margin-left: 50%;
}

