.wrapper {
  height: 80%;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 10% 10% 40% 20% 20%;
  grid-template-areas:
  ". . a . ."
  ". . a . ."
  ". b b b ."
  ". c c c ."
  ". c c c .";
  text-align: center;
}

.item1 {
  grid-area: a;
}

.item2 {
  grid-area: b;
}

.item3 {
  grid-area: c;
  justify-self: center;
  align-self: start;
}

button {
  margin-top: 10px;
}

ul {
  margin-left: 15%;
}
