<div class="wrapper">
  <div class="item1">
    <h2>Welcome, {{this.username}}!</h2>
    <p> There are your roles: </p>
  </div>

  <div class="item2">
    <table class="table table-striped">
      <thead>
        <tr>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let role of roles" (dblclick)="goToRolePage(role)">
          <td>{{role}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="item3">
    <button class="btn btn-secondary" (click)="goToConferencesPage()"> Go Back </button>
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
        <b> You can choose another role </b>
        <span class="caret"></span> </button>
      <ul class="dropdown-menu">
        <li *ngFor="let role of allPossibleRoles">
          <a (click)="verify(role)"> {{role}} </a>
        </li>
      </ul>
    </div>
  </div>
</div>
