<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="nav-header">
      <a class="navbar-brand"> <strong> Conference Management System </strong> </a>
    </div>

    <ul class="nav navbar-nav">
      <li> <a> </a>  </li>
      <li> <a href="loginPage"> Login </a> </li>
      <li> <a> </a>  </li>
      <li> <a href="createAccount"> Create Account </a> </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li> <a href="#"> Log out </a> </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
