<div class="wrapper">
  <div class="item1"> <h2> Paper data </h2> </div>

  <div class="item2">
    <ul class="list-group item2">
      <li class="list-group-item"> <b><u>TITLE</u></b> <br> {{paper.title}} </li>
      <li class="list-group-item"> <b><u>PAPER TEXT</u></b> <br> {{paper.paperText}} </li>
      <li class="list-group-item"> <b><u>ABSTRACT TEXT</u></b> <br> {{paper.abstractText}} </li>
      <li class="list-group-item"> <b><u>KEYWORDS</u></b> <br> {{paper.keywords}} </li>
    </ul>
  </div>

  <div class="item3">
    <button class="btn btn-secondary item3" (click)="goToRolePage()"> Go Back </button>
  </div>

  <div class="item4">
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
        <b> Availability </b>
        <span class="caret"></span> </button>
      <ul class="dropdown-menu">
        <li *ngFor="let availability of allPossibleAvailability">
          <a (click)="goToRolePage()"> {{availability}} </a>
        </li>
      </ul>
    </div>
  </div>
</div>
