<div class="wrapper">
  <div *ngIf="role === 'AUTHOR'" class="author">
    <div class="author_item1">
      <h2> Papers </h2>
    </div>

    <div class="author_item2">
      <button class="btn btn-secondary" (click)="goToCreateProposalPage()"> Create paper </button>
      <button class="btn btn-danger" (click)="goToRolesPage()"> Go Back </button>
    </div>

    <div class="author_item3">
      <table class="table table-striped">
        <thead>
        <tr>
          <th> Title </th>
          <th> PaperText </th>
          <th> AbstractText </th>
          <th> Keywords </th>
          <th> Finalized </th>
          <th> Accepted </th>
          <th> >< </th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let paper of papers">
          <td> {{paper.title}} </td>
          <td> {{paper.paperText}} </td>
          <td> {{paper.abstractText}} </td>
          <td> {{paper.keywords}} </td>
          <td> <input type="checkbox" [checked]="paper.finalized === true" disabled="disabled"> </td>
          <td> <input type="checkbox" [checked]="paper.accepted === true" disabled="disabled"> </td>
          <td> <button class="btn btn-secondary" (click)="goToUpdateProposalPage(paper.id)"
                [disabled]="paper.finalized || paper.accepted"> Update paper </button> </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div *ngIf="role === 'REVIEWER'" class="reviewer">
    <div class="reviewer_item1">
      <h2> Final Papers </h2>
      <p> You can select to review or not the following papers: </p>
    </div>

    <div class="reviewer_item2">
      <table class="table table-striped">
        <thead>
        <tr>
          <th> Title </th>
          <th> Finalized </th>
          <th> Accepted </th>
          <th> >< </th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let paper of finalPapersFromAConference">
          <td> {{paper.title}} </td>
          <td> {{paper.finalized}} </td>
          <td> {{paper.accepted}} </td>
          <td>
            <button class="btn btn-secondary"
                    (click)="goToBidPaperPage(paper.id)">
              Bid paper
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="reviewer_item3">
      <button class="btn btn-secondary" (click)="goToReviewAssignedPapersPage()"> Review assigned papers </button>
      <button class="btn btn-danger" (click)="goToRolesPage()"> Go Back </button>
    </div>
  </div>

  <div *ngIf="role === 'CHAIR'" class="chair">
    <div class="chair_item1">
      <button class="btn btn-primary" (click)="goToSendPaperToReviewerPage()"> Send paper to reviewer </button> <br>
      <button class="btn btn-primary" (click)="goToRequestCloserEvaluationPage()"> Request closer evaluation </button> <br>
      <button class="btn btn-primary" (click)="goToSendResultsPage()"> Send results </button> <br>
      <button class="btn btn-primary" (click)="goToSelectPapersForSectionPage()"> Select papers for section </button> <br>
      <button class="btn btn-danger" (click)="goToRolesPage()"> Go Back </button>
    </div>
  </div>

  <div *ngIf="role === 'CO_CHAIR'" class="co_chair" [hidden]="goToSendPaperToReviewerPage()"> </div>

</div>
