<div class="wrapper">
  <div class="item1">
    <h2> Conferences </h2>
  </div>

    <div class="item3" *ngIf="username == 'admin'">
      <button class="btn btn-secondary" (click)="goToAddConferencePage()"> Add Conference </button>
    </div>

  <div class="item2">
    <table class="table table-striped">
      <thead>
        <tr>
          <th> Name</th>
          <th> Price</th>
          <th> Date</th>
          <th> Bidding Phase Deadline </th>
          <th> Submit Phase Deadline </th>
          <th> Review Phase Deadline </th>
          <th *ngIf="username == 'admin'"> </th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let conference of conferences" (dblclick)="goToRolesPage(conference.id)">
          <td> {{conference.name}} </td>
          <td> {{conference.entryFee}} </td>
          <td> {{dateOf(conference.date)}}</td>
          <td> {{dateOf(conference.biddingPhaseDeadline)}} </td>
          <td> {{dateOf(conference.submitPaperDeadline)}} </td>
          <td> {{dateOf(conference.reviewPaperDeadline)}} </td>
          <td *ngIf="username == 'admin'">
            <button class="btn btn-secondary" (click)="goToChangeDeadlinesPage(conference.id)"> Change Deadlines </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
