.wrapper {
  height: 80%;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 20% 60% 20%;
  grid-template-areas:
    ". a . c ."
    ". b b b ."
    ". . . . . ";
}

.item3 {
  grid-area: c;
  align-self: end;
}

.item1 {
  grid-area: a;
  align-self: end;
}

.item2 {
  grid-area: b;
  align-self: start;
}

button {
  margin-left: 15px;
}

.buttons {
  display: flex;
  justify-content: center;
}
